include polyatomic_complexes/dataset *.csv
include polyatomic_complexes/dataset *.pkl
include polyatomic_complexes/dataset *.json
recursive-include polyatomic_complexes/dataset *.csv *.json *.pkl *.py
global-include *.csv
global-include *.pkl
global-include *.json